/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
    Rob Schuster's custom styles Begin HERE -- Thanks for looking!
   ========================================================================== */

/* basic parts of page  */

/* colors
          rgb(143, 193, 218); #6b84cl teal
          rgb(95, 139, 163) #5f8ba3 mountain light gray
          rgb(36, 79, 100) #244f64 mountain dark gray
          rgb(216, 16, 18) #d81012 rocket red
          rgb(251, 176, 59) #fbb03b rocket yellow
          rgb(238, 91, 35) #ee5b23 rocket orange
          rgb(39, 179, 255) #27b3ff megaphone blue
          rgb(17, 102, 203) #1166cb megaphone center
  */

/* mobile- size standard  */

html {
      background-color: none;
      height: 100%;
}

body {
      font-family: 'Source Sans Pro', sans-serif;
      padding: 0;
      font-size: 1.25em;
      height: 100%;
      width: auto;
}

header {
      background-image: url('../img/fluffy-clouds.jpg') #fff;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      height: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
}

footer {
      background-color: #244f64;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row;
      width: 100%;
      height: auto;
}


/*    Page FONTS    */
h1 {
      display: flex;
      font-family: 'Kaushan Script', cursive;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      text-transform: capitalize;
      color: #090934;
}

h2 {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.5em;
      color: #f2f2f2;
      text-transform: capitalize;
}

h3 {
      font-family: 'Source Sans Pro', sans-serif;
      color: #090934;
      font-size: 1.4em;
}

p {
      font-family: 'Source Sans Pro', sans-serif;
      text-align: center;
      color: #f2f2f2;
}

a {
      font-family: 'Source Sans Pro', sans-serif;
      text-decoration: none;
      color: #d81012;
}

span {
      transform: rotate(-20deg);
}
/*    Classes of page   */

.about {
      background: linear-gradient(#ffffff, #69afc6);
      height: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-flow:  column;
}
.about-top {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row nowrap;
}

.about p {
      color: #244f64;
      line-height: 1.8em;
      text-align: left;
}

.about h2 {
      color: #244f64;
      text-align: center;
      padding-right: 60px;
}

.about img {
      border-radius: 10px;
}

.about h2 {
      padding-left: 45px;
}

.contact {
      background: linear-gradient(#69afc6, #ffffff);
      background-size: 100% 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column nowrap;
}

.contact img {
      width: 100%;
      height: auto;
}

.contact h3 {
      padding-right: .5em;
}

.contact h2 {
      color: #1166cb;
      font-size: 1em;
      padding-right: 12px;
}

.div-1, .div-2, .div-3 {
      color: #595959;
      line-height: 1.8em;
      font-size: .8em;
      background-color: rgba(107, 132, 193, 0.8);
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      padding: 10px;
      margin: 25px;
}

.fancy-container {
      border: 2px solid #6b84c1;
      border-radius: 10px;
      padding: 20px;
      margin: 8px;
}

.full {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
}

.full h2 {
      color: #1166cb;
}

.half {
      height: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
}


.portfolio {
      background: linear-gradient(#69afc6, #ffffff);
      background-size: 100% 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: column nowrap;
      padding-top: 20px;
      padding-bottom: 40px;
      width: 100%;
      height: auto;
}

.portfolio h2 {
      padding: 0 10px 0 10px;
      text-align: center;

}

.portfolio-pic {
      padding: 8px 0 8px 0;
      width: auto;
      height: auto;
}

.review {
	display: flex;
	justify-content: space-between;
	align-items: center;
      flex-flow: row wrap;
}

.review-container {
      background: linear-gradient(#ffffff, #69afc6);
      background-size: 100% 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-flow: column;
}

.review-single {
      height: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row;
}

.reviews {
      height: auto;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-flow: row nowrap;

}

.reviews p {
      line-height: 1.9em;
}

.reviews-two, .review-one {
      text-align: left;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      background: rgba(17, 102, 203, 0.5);
      border-radius: 30px;
      color: #f2f2f2;
}

.review-one {
      width: 90%;
      height: auto;
      padding: 1.6em;
      margin-left: .98em;
      margin-right: .98em;
}

.reviews-two {
      padding: 1.6em;
      width: 90%;
      height: auto;
      margin-left: .98em;
      margin-right: .98em;
}


.samples {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
      width: 100%;
      padding-bottom: 15px;
}

.subheader {
      background-image: url('../img/rocket-mid.jpg');
      background-size: cover;
      height: auto;
      width: 100%;
      display: flex;
      justify-content:flex-start;
      align-items: flex-start;
      flex-flow: column nowrap;
      padding: 0;
}

.whole {
      height: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column nowrap;
      margin: 0;
}

.wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: column wrap;
      font-weight: 700;
}


/*    Id section   */

#cloud {
      padding: 0;
}

#contact {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex-flow: column nowrap;
      padding-left: 16px;
}

#direction {
      display: flex;
      flex-direction: column-reverse;
}

#launch, #launch-text {
      padding-top: 1.0em;
      padding-left: 8px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-flow: column;
}

#launch-tag {
      color: #fbb03b;
}

#portfolio-center {
      padding-left: 20px;
      padding-right: 20px;
}

/*  cut if works update pc settings maybe ipad settings */
#social {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
      padding-right: 20px;
      width: 100%;
      height: auto;
}

#social img {
      height: 50px;
      width: 50px;
}

#social h3 {
      padding-left: 30px; /* this floats the icons to center of page mobile */
}

/*  ================  Responsive Break-Points Begin Here  =================  */

/*   ++++++++++ Tablet Size  +++++++++++++++++++  */
@media (min-width: 768px) and (max-width: 1199px) {
      body {
            padding: 2em;
      }

      header .wrapper {
            display: flex;
            flex-flow: row nowrap;
      }

      h1 {
            font-size: 3em;
      }

      .about-top {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-flow: row nowrap;
      }

      .contact {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
      }

      .contact h2 {
            text-align: center;
      }

      .contact h3 {
            padding-right: 2em;
      }

      .div-1, .div-2, .div-3 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 200px;
            width: 30%;
            padding: 10px;
            margin: 0;
      }

      .fancy-container {
            margin: 40px;
      }

      .half {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-flow: row nowrap;
            width: 65%;
      }

      .portfolio {
            background: linear-gradient(#69afc6, #ffffff);
            background-size: 100% 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-flow: column wrap;
            padding-top: 20px;
            padding-bottom: 40px;
            width: 100%;
            height: auto;
      }

      .reviews img {
            padding-right: 4em;
      }

      .samples {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-flow: row wrap;
            width: 100%;
      }

      .samples img {
            padding: 5px 0 5px 0;
      }

      .whole {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-flow: column;
      }

      #cloud {
            padding-left: 20px;
      }

      #contact {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            flex-flow: row wrap;
      }

      #padding {
            flex-direction: row;
            padding-left: 40px;
      }

      #social {
            padding-left: 40px;
            padding-right: 20px;
            flex-flow: column wrap;
            width: 100%;
      }
}

/*  +++++++++++  Desk-Top Size  ++++++++++++++++  */
@media (min-width: 1200px) {
      body {
            padding: 2em;
      }

      header {
            flex-flow: column;
      }

      h1 {
            font-size: 3em;
      }

      .about-top {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-flow: row nowrap;
      }

      .contact {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-flow: row nowrap;
      }

      .contact img {
            width: 100%;
            height: auto;
      }

      .div-1, .div-2, .div-3 {
            flex-flow: column nowrap;
            height: 200px;
            width: 30%;
            margin: 0;
            padding: 10px;
      }

      .fancy-container {
            margin: 40px;
      }

      .half {
            height: auto;
            width: 45%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row wrap;
      }

      .reviews {
            background: linear-gradient(#ffffff, #69afc6);
            background-size: 100% 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-flow: column;
      }

      .reviews img {
            padding-right: 4em;
      }

      .review-one {
            width: 90%;
            height: auto;
            padding: 1.6em;
            margin-left: .99em;
            margin-right: .99em;
      }

      .reviews-two {
            padding: 1.6em;
            width: 40%;
            height: auto;
            height: 22em;
            margin-left: .98em;
            margin-right: .98em;
      }

      .samples {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-flow: row nowrap;
            width: 100%;
      }

      .subheader {
            height: 754px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-flow: column nowrap;
            padding: 0;

      }

      .whole {
            height: auto;
            width: 100%;
            display: flex;
            margin-top: 5px;
            padding: 0 0 20px 0;
            justify-content: center;
            align-items: flex-end;
            flex-flow: row nowrap;
      }

      .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-flow: row wrap;
            font-weight: 700;
      }
      /*  full screen id tags  */

      #contact {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            flex-flow: column nowrap;
            padding-right: 2em;
      }

      #launch, #launch-text {
            padding: 80px 100px 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-flow: column wrap;
            width: 100%;
            height: auto;
      }

      #direction {
            flex-direction: row;
      }

      #social {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row nowrap;
            height: auto;
            width: 100%;
            padding: 0;
      }

      #social h3 {
            padding-left: 0; /* this keeps the icons and email address same line, address doesn't wrap */
      }

}

/* ==========================================================================
   Rob's code ends here.  Super glad you took the time to check it out!!!  :P
   ========================================================================== */

/*  ========  Helper classes follow  ===========*/


/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
