/*  FA Schools music math leadership  CSS Styles  */

/* fonts section. */

a, h1, h2, h3, h5 {
   font-family: 'Montserrat', sans-serif;
   font-weight:bold;
   text-transform:uppercase;
}


a, h1, h4 {
    color:#77a466;
}


h4, p {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}


p  {
    font-size: 25px;
    line-height:150%;
}


a {
    font-size: 10px;
    font-style: normal;
    text-decoration: none;
    margin-top:46px;
}


h1 {
    font-size: 30px;
    text-align:left;
}


h2 {
    font-size: 35px;
    color: yellow;
    float: right;
    text-transform: capitalize;
    padding: 0px 30px 0px 0px;
}


h3 {
    font-size: 35px;
    color: black;
    padding-left: 35px;
    padding-top: 65px;
    text-transform: capitalize;
}


h4 {
    font-size: 28px;
    color: green;
    text-decoration: underline;
}


h5 {
    font-size: 16px;
    margin-left: 450px;
    padding-top: 33px;
}





/* the following will make the black type  */


.enhance {
    color: black;
}


/*  Column widths set-up  */


.full-width {
    width: 1200px;
}


.half-width, .third-width {
   float:left;
}


.half-width {
    width: 595px;
}



.third-width {
    width:349px;
    padding:25px;
    height:180px;
}



.sixth-width {
   float:right;
   padding:15px;
}


#about,#menu,#content {
    margin-left:5px;
}


/*  set up's nav alignment */


#navigation {
   float:right;
   margin-left:45px;
}




.clear-fix {
    clear:both;
    width:100%;
}


.set {
  margin-left: 10px
}


/*  borders for main photo & content section */



#top-div, #photo-div, #content-div, #bottom-div {
   float:left;
   width:1200px;
}


#top-div {
   width:1240px;
   height:112px;
}


#photo-div {
   height:288px;
}


#content-div {
   padding-left:20px;
}


#bottom-div {
   height:180px;
   margin-left:20px;
}


footer {
   width:1200px;
   height:50px;
   padding-top:150px;
   font-size: 8px;
}
