/* Robert Schuster Web Design CSS profiles */

/* page top */

body {
      width: 1200px;
      height: auto;
}

header {
    height: 350px;
    width: 1200px;
    overflow: auto;
    background: url('../img/hero.jpeg') no-repeat;
}


.intro {
    float:left;
    height: 600px;
}


/* section alignments */

#links {
    align: center;
}

#aboutme {
    padding: 200px 0px 0px 0px;
}

#contactme {
    padding: 100px 0px 0px 0px;
}

#contact {
      background: #190934;
      height: 100px;
}

/*  image with text overlays  */

#container {
  height: auto;
  width: 1200px;
  position: relative;
  text-align: center;
}

#container2 {
  height: auto;
  width: 400px;
  position: relative;
  text-align: center;
  border-style: solid;
  border-color: green;
  border-radius: 25px;
  margin-top: 55px;
  padding-bottom: 10px;
}

#container3 {
  height: auto;
  width: 1200px;
  position: relative;
  text-align: center;
  margin-top: 100px;
}

#image {
  position: absolute;
  left: 0;
  top: 0;
  height: 250px;
  width: 350px;
}
#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 350px;
}

/* div sizes */

.clear-fix {
    clear: both;
    width:100%
}
/* Section Sizes  */

.full-width {
    width: 1200px;
    margin: 0px auto;
    display: inline-block;
}

.half-width, .third-width {
    float: left;
}

.half-width {
    width: 600px;
}

.third-width {
    width: 300px;
}

.two-third-width {
    width: 800px;
}


/* button styles */

ul {
  list-style-type: none;
}

.button {
    background: green;
    border: 2px solid gold;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    font-size: 25px;
    border-radius: 35px;
}

.button1 {
    background: #F5F5F5;
    border: 2px solid green;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    font-size: 20px;
    border-radius: 35px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

.button1:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}





/* email form  */

form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 400px;
}

div + div {
  margin-top: 1em;
}

label {
  /* To make sure that all label have the same size and are properly align */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  /* To make sure that all text field have the same font settings
     By default, textarea are set with a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text field */
  width: 300px;

  -moz-box-sizing: border-box;
       box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid green;
  border-radius: 15px;
}

input:focus, textarea:focus {
  /* To give a little highligh on active elements */
  border-color: green;
}

textarea {
  /* To properly align multiline text field with their label */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;

  /* To allow users to resize any textarea vertically
     It works only on Chrome, Firefox and Safari */
  resize: vertical;
}
