/* Robert Schuster Web Design CSS profiles */

/* page top */

body {
      width: 1200px;
      height: auto;
}

header {
    height: 350px;
    width: 1200px;
    overflow: auto;
    background: url('../img/hero.jpeg') no-repeat;
}


.intro {
    float:left;
    height: 600px;
}


/* section alignments */

#links {
    align: center;
}

#aboutme {
    padding: 200px 0px 0px 0px;
}

#contactme {
    padding: 100px 0px 0px 0px;
}

#contact {
      background: #190934;
      height: 100px;
}

/*  image with text overlays  */

#container {
  height: auto;
  width: 1200px;
  position: relative;
  text-align: center;
}

#image {
  position: absolute;
  left: 0;
  top: 0;
  height: 250px;
  width: 350px;
}
#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 350px;
}

/* div sizes */

.clear-fix {
    clear: both;
    width:100%
}
/* Section Sizes  */

.full-width {
    width: 1200px;
    margin: 0px auto;
    display: inline-block;
}

.half-width, .third-width {
    float: left;
}

.half-width {
    width: 600px;
}

.third-width {
    width: 400px;
}

/* button styles */


.button1 {
    background: #F5F5F5;
    border: 2px solid green;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    font-size: 20px;
    border-radius: 35px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

.button1:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.button5 {
    background: url('../img/mathbutton.jpg') no-repeat;
    border: 2px solid green;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    font-size: 25px;
    border-radius: 35px;
}

.button2 {
    background: url('../img/leadershipbutton.jpg') no-repeat;
    border: 2px solid green;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    font-size: 25px;
    border-radius: 35px;
}

.button3 {
    background: url('../img/musicbutton.jpg') no-repeat gold;
    border: 2px solid green;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    font-size: 25px;
    border-radius: 35px;
}

.button4 {
    background:  url('../img/aboutbutton.jpg') no-repeat;
    border: 2px solid green;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    font-size: 25px;
    border-radius: 35px;
}

ul {
  list-style-type: none;
}
