/* Robert Schuster Web Design CSS profiles */

/* page top */

body {
      width: 1200px;
      height: auto;
}

header {
    height: 350px;
    width: 1200px;
	  background: url('../img/hero.jpeg') no-repeat;
    overflow: auto;

}


.intro {
    float:left;
    height: 600px;
}


/* section alignments */

#samples {
    padding: 10px 5px 10px 5px;
}

#aboutme {
    padding: 200px 0px 0px 0px;
}

#contactme {
    padding: 100px 0px 0px 0px;
}

#contact {
      background: #190934;
      height: 100px;
}

/*  image with text overlays  */

#container {
  height: 400px;
  width: 400px;
  position: relative;
}
#image {
  position: absolute;
  left: 0;
  top: 0;
  height: 250px;
  width: 350px;
}
#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 350px;
}

/* div sizes */

.clear-fix {
    clear: both;
    width:100%
}
/* Section Sizes  */

.full-width {
    width: 1200px;
    margin: 0px auto;
}

.half-width, .third-width {
    float: left;
}

.half-width {
    width: 600px;
}

.third-width {
    width: 400px;
}

/* button styles */

.button1 {
    background: url('../img/mathbutton.jpg') no-repeat;
    border: 2px solid blue;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 35px;
}

.button2 {
    background: url('../img/leadershipbutton.jpg') no-repeat;
    border: 2px solid blue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 35px;
}

.button3 {
    background: url('../img/musicbutton.jpg') no-repeat;
    border: 2px solid blue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 35px;
}

.button4 {
    background:  url('../img/aboutbutton.jpg') no-repeat;
    border: 2px solid blue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 35px;
}

ul {
  list-style-type: none;
}
