/*  Rogue Pickings Base Styles
Created 4/24/21
Thanks for looking at my code
*/
body {
     width: 1200px;
     margin: 35px 0 0 35px;
}

/*  Package sizes  */
.full-wide {
     height: auto;
     width: 1200px;
}

.half-wide {
     height: auto;
     width: 600px;
}

/*  Header  */
header {
     display: inline-block;
     padding-bottom: 20px;
}

nav ul li {
     display: inline-block;
     float: right;
}

nav ul li a{
     font-family: 'Montserrat', sans-serif;
     float: right;
     text-decoration: none;
     color: #8db380;
     font-size: 14px;
     font-weight: 600;
     margin: 36px 10px 0 10px;
     text-transform: uppercase;
}

section img {
     border-top: 3px solid #8db380;
     border-bottom: 3px solid #8db380;
}

/*  Text Sizes  */
h1, h2, h3, p, span {
     text-align: left;
     font-family: 'Montserrat', sans-serif;
}

h1, span {
     letter-spacing: 2px;
}

h1 {
     color: black;
     font-size: 30px;
     margin-top: 0;
     text-transform: uppercase;
}

h2 {
     color: #8db380;
     font-size: 18px;
     font-weight: bold;
     text-transform: uppercase;
}

h3 {
     color: black;
     font-size: 12px;
     font-weight: bold;
     text-transform: uppercase;
}

p {
     color: black;
     font-size: 16px;
     line-height: 150%;
     font-weight: normal;
     text-align: justify;
}

span {
     color: #8db380;
     font-size: 30px;
}

/*  Body */
content {
     clear: both;
}

.about, p {
     margin-right: 10px;
}

.menu, .reviews, .contact {
     border-top: 1px solid black;
     border-bottom: 1px solid black;
     float: left;
     padding-top: 10px;
     width: 360px;
}

.reviews, .contact {
     height: 210px;
}

.menu {
     height: 200px;
     margin-top: 0;
     padding-left: 0;
}

.menu, ul, li {
     color: #8db380;
     font-size: 20px;
     font-weight: lighter;
     list-style-type: none;
     margin-left: 0;
     padding-left: 0;
     padding-bottom: 10px;
}

.reviews {
     border-left: 1px solid black;
     border-right: 1px solid black;
     padding-left: 20px;
     padding-right: 20px;
}

.contact {
     padding-left: 50px;
}

footer {
     clear: both;
     padding-top: 10px;
}

footer h2 {
     color: black;
     text-align: center;
}

footer span {
     font-family: 'Lobster', cursive;
     font-size: 20px;
     font-weight: lighter;
     text-transform: lowercase;
}
